.city-logo-link {
  color: var(--light);
  text-decoration: none;
}

.city-content {
  padding-top: 8rem;
}

.city-container {
  max-width: 900px;
}

.city-paragraph {
  margin-bottom: 1rem;
}

.city-paragraph.last {
  margin-bottom: 2rem;
}
